@model limingallery.Models.Post

@{
    ViewBag.Title = "Create Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form class="container">
        <div class="form-group">
            @Html.LabelFor(p => p.Title)
            @Html.TextBoxFor(p =>p.Title, new { @class = "form-control"})
            @Html.ValidationMessageFor(p=>p.Title)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(p => p.File, new { type = "file", accept = "image/*", @class= "form-control-file" })
            @Html.ValidationMessageFor(p=>p.File)
        </div>
        <div class="form-group">
            @Html.LabelFor(p=>p.Description)
            @Html.TextAreaFor(p=>p.Description, new {@class= "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}
