@using Microsoft.AspNet.Identity;
@model limingallery.ViewModels.PostCommentViewModes
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isLiked = false;
}

<div class="">
    <div class="row">
        <div class="col-md-8">
            <div class="text-center">
                <img src="@Model.Post.ImageUrl()" alt="Alternate Text" class="img-details" />
            </div>
        </div>

        <div class="col-md-4" style="background:#222">
            <div class="container-fluid" style="padding:20px">
                <img src="@Model.Post.User.AvatarUrl" class="img-responsive img-circle" style="max-height:50px; max-width:50px; display:inline" />
                <a href="#" style="font-size:20px; margin-left:7px;">@Model.Post.User.NickName</a>
                <hr />

                @*like button*@
                @foreach (var like in Model.Post.Likes)
                {
                    if (like.UserId == User.Identity.GetUserId()) { isLiked = true; }
                }

                @using (Html.BeginForm("Create", "Likes", FormMethod.Post, new { style = "display:inline" }))
                {
                    @Html.Hidden("postId", Model.Post.Id)
                    <button type="submit" class="btn @(!isLiked ? "btn-info" : "btn-info active")">@(!isLiked ? "Thích" : "Bỏ Thích")</button>
                }

                @*end like button*@

                @*Delete & Edit Post*@
                @{
                    if (Model.Post.UserId == User.Identity.GetUserId())
                    {
                        <a class="btn btn-warning" href="@Url.Action("Edit", "Posts", new { Id = Model.Post.Id },null)">Edit</a>
                        <a class="btn btn-danger" href="@Url.Action("Delete", "Posts", new { Id = Model.Post.Id },null)">Delete</a>
                    }
                }
                @*End Delete & Edit Post*@

                <h2 style="color:white">@Model.Post.Title</h2>
                <p style="color:white">@Model.Post.Description</p>

                <em style="color:#808080">Đăng ngày @Model.Post.CreateOn</em>

                <div style="color:#808080">
                    <i class="fa fa-thumbs-up" style="font-size:12px"></i>
                    <span>@Model.Post.Likes.Count Likes</span>&nbsp;
                    <i class="fa fa-comment" style="font-size:12px"></i>
                    <span>@Model.Comments.Count Comments</span><br />
                </div>
                @Html.Partial("~/Views/Comments/_CreateComment.cshtml")

                <div style="margin-top: 5px">
                    @foreach (var comment in Model.Comments)
                    {
                    <div>
                        @if (comment.UserId == User.Identity.GetUserId())
                        {
                            <a href="@Url.Action("Delete","Comments", new { Id = comment.Id, PostId = Model.Post.Id})" class="text-muted"><i class="fa fa-trash-o"></i></a>
                        }
                        <span class="text-primary">@comment.User.NickName : </span>
                        <span>@comment.Content</span><span class="text-right">
                            @*@DateTime.Now.Subtract(comment.CreateOn).Days.ToString()*@
                        </span>
                    </div>
                    <div>
                        
                    </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>






