@using Microsoft.AspNet.Identity; 
@model limingallery.ViewModels.PostCommentViewModes
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isLiked = false;
}

<div class="">
    <div class="row">
        <div class="col-md-9">
            <div class="text-center">
                <img src="@Model.Post.ImageUrl()" alt="Alternate Text" class="img-details" />
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>







<h2>@Model.Post.Title</h2>


@foreach (var like in Model.Post.Likes)
{
    if (like.UserId == User.Identity.GetUserId()) { isLiked = true; }
}

@using (Html.BeginForm("Create", "Likes", FormMethod.Post))
{
    @Html.Hidden("postId", Model.Post.Id)
    <button type="submit" class="btn btn-xs @(!isLiked ? "btn-info" : "btn-info active")">@(!isLiked ? "Like" : "Unlike")</button>
}

@{ 
    if (Model.Post.UserId == User.Identity.GetUserId())
    {
        @Html.ActionLink("Delete", "Delete", "Posts", new { Id = Model.Post.Id }, null)
    }
}

@foreach (var comment in Model.Comments)
{
    <h1 class="bg-primary">@comment.User.NickName</h1><h2>@comment.Content</h2> 
    if(comment.UserId == User.Identity.GetUserId())
    { 
        @Html.ActionLink("Delete", "Delete", "Comments", new { Id = comment.Id }, null)
    }
}

@Html.Partial("~/Views/Comments/_CreateComment.cshtml")